
*.wav
*.mid
*.txt
*.zip
*.yaml
*.log
*.json
*.wandb
*.png
*.ckpt
*.bak
*-checkpoint.ipynb
*\.ipynb_checkpoints\*
*.0
*.mp4
data/musdb18_stems/README.md
model/drum_demus/train-model-Copy1.ipynb
/model/drum_demus_smaller/.ipynb_checkpoints
*.2
*.1
*.mp3
*.beats
data/MDBDrums-master/MIREX2017.md
data/MDBDrums-master/README.md
